WeeklyThreatIntelReport_LogicApp_ARM.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "PluginLogicApp_WeeklyThreatIntelReport",
      "metadata": {
        "description": "Logic App リソースの名前"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "デプロイ先リージョン"
      }
    },
    "emailAddress": {
      "type": "string",
      "metadata": {
        "description": "レポート送信先メールアドレス"
      }
    },
    "office365ConnectionName": {
      "type": "string",
      "defaultValue": "office365",
      "metadata": {
        "description": "Office 365 API 接続の名前"
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Outlook",
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "emailAddress": {
              "type": "String",
              "defaultValue": ""
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ReportHtml": {
                      "type": "string",
                      "description": "送信する HTML レポートの全文"
                    }
                  },
                  "required": [
                    "ReportHtml"
                  ]
                },
                "method": "POST"
              }
            }
          },
          "actions": {
            "Parse_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "ReportHtml": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ReportHtml"
                  ]
                }
              },
              "runAfter": {}
            },
            "Send_an_email_(V2)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "To": "@parameters('emailAddress')",
                  "Subject": "Microsoft Defender 脅威インテリジェンスレポート",
                  "Body": "@body('Parse_JSON')?['ReportHtml']",
                  "Importance": "High",
                  "IsHtml": true
                },
                "path": "/v2/Mail"
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              }
            },
            "Response": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "status": "success",
                  "message": "脅威インテリジェンスレポートをメール送信しました。",
                  "recipient": "@parameters('emailAddress')"
                }
              },
              "runAfter": {
                "Send_an_email_(V2)": [
                  "Succeeded"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
                "connectionName": "[parameters('office365ConnectionName')]",
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          },
          "emailAddress": {
            "value": "[parameters('emailAddress')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    }
  }
}
